{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: {{ .Values.ingress.className }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
spec:
  controller: ingress.k8s.aws/alb
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: service1-ingress
  labels:
    {{- include "app.labels" . | nindent 4 }}
  annotations:
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - http:
        paths:
          - path: /api/string
            pathType: Prefix
            backend:
              service:
                name: service1
                port:
                  number: {{ .Values.service1.service.port }}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: service1
                port:
                  number: {{ .Values.service1.service.port }}
{{- end }}

